* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: url("../images/bg.jpg") center no-repeat;
  z-index: -1;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 1100px;
  height: 5 00px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container h2,
h4 {
  text-align: center;
  margin-bottom: 30px;
}

#container h4 {
  text-transform: uppercase;
  color: rgb(255, 166, 0);
  font-size: 26px;
  margin-bottom: 10px;
}

#container h2 {
  text-transform: uppercase;
  color: white;
  font-size: 42px;
}

#container .testimonial-avatar {
  background-image: url("../images/avatar.svg");
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: -100px;
  z-index: 99;
}

#container #content {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

#container button {
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#container button i {
  color: white;
  font-size: 50px;
  transition: transform 0.2s;
}

#container button i:hover {
  transform: translateY(-5px);
}

#container #content .testimonial-container {
  width: 80%;
  height: 280px;
  border: 4px solid white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container #content .testimonial-container .testimonial-author {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 60px;
}

#container #content .testimonial-container .testimonial-text {
  color: white;
  text-align: center;
  font-style: italic;
}

#container #content .testimonial-container img {
  width: 50px;
}
